<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.martgowmsfullstack.mapper.SectorMapper">

    <update id="resetSectorStatus">
        UPDATE sector
        SET status = '사용가능'
        WHERE sector_id IN (
            SELECT sector_id
            FROM (
                     SELECT rh.sector_id
                     FROM rent_history rh
                              JOIN (
                         SELECT user_id, MAX(rent_end_date) AS max_rent_end_date
                         FROM rent_history
                         GROUP BY user_id
                     ) latest_rent ON rh.user_id = latest_rent.user_id AND rh.rent_end_date = latest_rent.max_rent_end_date
                     WHERE rh.rent_end_date &lt; NOW()
                 ) AS recent_sector
        )
    </update>

</mapper>
