<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.martgowmsfullstack.mapper.StockHistoryMapper">
    <select id="checkAdminStockHistory" parameterType="String"
            resultType="com.ssg.martgowmsfullstack.domain.StockHistoryVO">
        SELECT history_num, product_id, stock_history.sector_id, count, change_date, change_type,
        stock_history.admin_id, incoming_num, outgoing_num, stock_num
        FROM stock_history
        JOIN admin ON admin.admin_id = #{admin_id}
    </select>

    <select id="checkGeneralStockHistory" parameterType="String"
            resultType="com.ssg.martgowmsfullstack.domain.StockHistoryVO">
        SELECT history_num, product_id, stock_history.sector_id, count, change_date, change_type,
        stock_history.admin_id, incoming_num, outgoing_num, stock_num
        FROM stock_history
        JOIN sector ON stock_history.sector_id = sector.sector_id
        JOIN warehouse ON warehouse.warehouse_id = sector.warehouse_id
        JOIN admin ON admin.admin_id = #{admin_id}
        WHERE warehouse.warehouse_id = admin.warehouse_id
    </select>
</mapper>