<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.martgowmsfullstack.mapper.UserUpdateMapper">

    <update id="resetSectorStatus">
        UPDATE sector AS s
            JOIN (
                SELECT
                    rh2.user_id,
                    rh2.sector_id,
                    rh2.warehouse_id,
                    MAX(rh2.rent_end_date) AS max_end_date
                FROM rent_history AS rh2
                         JOIN `user` AS u2
                              ON rh2.user_id = u2.user_id
                                  AND u2.role = '거래처'
                WHERE rh2.rent_end_date &lt; NOW()
                GROUP BY rh2.user_id
            ) AS latest
            ON s.sector_id    = latest.sector_id
                AND s.warehouse_id = latest.warehouse_id
            JOIN rent_history AS rh
            ON rh.user_id       = latest.user_id
                AND rh.rent_end_date = latest.max_end_date
        SET s.status = '사용가능';
    </update>

    <update id="updateExpiredUsers">
        UPDATE user u
        SET u.role = '회원',
            u.admin_id = NULL
        WHERE u.role = '거래처'
          AND NOT EXISTS (
            SELECT 1
            FROM rent_history rh
            WHERE rh.user_id = u.user_id
              AND rh.rent_end_date &gt; NOW()
        )
    </update>

</mapper>
